# Data Science Tools and Ecosystem

In [2]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
## Objectives:

* **List popular development environment tools used in Data Science.** (e.g., Jupyter Notebook, Apache Zeppelin, RStudio)
* **Evaluate simple arithmetic expressions in Python.** (demonstrated multiplication and addition)
* **Convert units (e.g., minutes to hours) using Python.**

**Additional takeaways may include:**

* Understanding the basic structure of a Jupyter Notebook cell (markdown and code).
* Adding comments to explain code functionality.
* Using f-strings for formatted printing in Python.

In [ ]:
Some of the popular languages that Data Scientists use are:
    1. SQL
    2. Python
    3. R

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
    1. Scrapy
    2. Pandas
    3. Numpy
    4. SciKit-learn
    5. Matplotlib

In [ ]:
| Data Science Tools |
|---|---|
| Jupyter Notebook |
| Apache Zeppelin |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5

# Print the result
print(result)

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60

# Print the result in a formatted way (2 decimal places)
print(f"{minutes} minutes is equivalent to {hours:.2f} hours.")

200 minutes is equivalent to 3.33 hours.

In [ ]:
## Author

Sayak Roy